body *,
::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh; /* Altezza dell'intero schermo */
  overflow: hidden !important; /* Nasconde eventuali parti in eccesso */
}
.containerImg {
  width: 100%;
  height: 100%;
  object-fit: cover !important; /* Rende l'immagine cover */
}

#bg-hero {
  background: rgb(255, 255, 255);
  background: linear-gradient(207deg, rgba(255, 255, 255, 0) 0%, rgba(40, 40, 40, 1) 15%, rgba(0, 0, 0, 1) 87%);
}

.hide-ads {
  color: #666 !important;
  font-size: 10px;
  padding: 2px 6px;
  height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  border: none;
  background-color: #212121d1;
}

.hide-ads:hover {
  opacity: 1;
}

#profile-image {
  position: relative;
  z-index: 1;
  margin-right: -1rem;
}

.account {
  font-size: small;
}
#left-column {
  height: 100vh; /* Altezza della colonna pari a quella del viewport */
  overflow-y: scroll; /* Barra di scorrimento verticale se necessario */
  padding: 0; /* Rimuove eventuali spazi interni */
  margin: 0; /* Rimuove eventuali margini esterni */
  box-sizing: border-box; /* Assicura che padding e border non influenzino l'altezza */
  padding: 2;
}

/* Personalizzazione della scrollbar in Chrome, Edge e Safari */
#left-column::-webkit-scrollbar {
  width: 12px; /* Larghezza della scrollbar */
}

#left-column::-webkit-scrollbar-track {
  background: #000000; /* Colore di sfondo della scrollbar (track) */
}

#left-column::-webkit-scrollbar-thumb {
  background-color: #888; /* Colore del "thumb" (parte che si sposta) */
}

#left-column::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Colore quando il thumb è in hover */
}
#left-column2 {
  height: 100vh; /* Altezza della colonna pari a quella del viewport */
  overflow-y: auto; /* Barra di scorrimento verticale se necessario */
  padding: 0; /* Rimuove eventuali spazi interni */
  margin: 0; /* Rimuove eventuali margini esterni */
  box-sizing: border-box; /* Assicura che padding e border non influenzino l'altezza */
}

/* Personalizzazione della scrollbar in Chrome, Edge e Safari */
#left-column2::-webkit-scrollbar {
  width: 12px; /* Larghezza della scrollbar */
}

#left-column2::-webkit-scrollbar-track {
  background: #272727; /* Colore di sfondo della scrollbar (track) */
}

#left-column2::-webkit-scrollbar-thumb {
  background-color: #888; /* Colore del "thumb" (parte che si sposta) */
}

#left-column2::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Colore quando il thumb è in hover */
}

#album-cover {
  box-shadow: 0px 1px 37px 10px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 0px 1px 37px 10px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 1px 37px 10px rgba(0, 0, 0, 0.72);
}

html,
body {
  overflow: hidden;
}
.endbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #272727;
  z-index: 1000; /* Ensures it's above other elements */
}

.custombg {
  background-color: #272727;
}

.customfs {
  font-size: small;
}
.expanded {
  flex: 1 !important; /* Espande la colonna centrale a occupare tutto lo spazio disponibile */
}
